body {
    background-color: #faf7f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#cabecalho {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    margin-bottom: 30px;
}

h1 {
    animation: mudacor;
    animation-duration: 45s;
}

@keyframes mudacor {
    from {color: #008248;}
    to {color: black}
}


#imagemGeral {
    margin-bottom: 15px;
}

#conteudo {
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

a {
    color: blue;
    text-decoration: unset;
    }

#navbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    }

#imgloja {
    width: 100%;
    justify-content: center;
}
#destaque1 {
    display: flex;
    justify-content: center;
}

#produtos {
    display: flex;
    justify-content: space-between;
}

.produtoDestaque {
    margin-left: 2%;
    margin-right: 2%;   
}

.imgDestaque {
    width: 80%;
}

#rodape {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-top: 30px;
    margin-top: 30px;
}

#redes {
    margin-left: 20px;
    margin-top: 10px;
    color: whitesmoke;
    vertical-align: -50px;
    padding-bottom: 50px;

}

#email {
    margin-right: 20px;
    text-align: initial;
}

.imgWhats {
    max-width: 15%;
    margin-top: 10px;
    margin-left: 10px;
}

.imgInsta {
    max-width: 15%;
    margin-top: 10px;
    margin-left: 10px;
}

.imgTwitter {
    max-width: 15%;
    margin-top: 10px;
    margin-left: 10px;
}

#receba {
    color: whitesmoke;
}

#email {
    margin-right: 50px;
}

#inputEmail {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

button {
    background-color: #008248;
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke; 
}
